.history
/node_modules
node_modules/.package-lock.json
node_modules/sqlite3/binding.gyp
node_modules/sqlite3/LICENSE
node_modules/sqlite3/package.json
node_modules/sqlite3/README.md
node_modules/sqlite3/deps/common-sqlite.gypi
node_modules/sqlite3/deps/extract.js
node_modules/sqlite3/deps/sqlite3.gyp
node_modules/sqlite3/lib/sqlite3-binding.js
node_modules/sqlite3/lib/sqlite3.d.ts
node_modules/sqlite3/lib/sqlite3.js
node_modules/sqlite3/lib/trace.js
node_modules/sqlite3/lib/binding/napi-v6-darwin-unknown-arm64/node_sqlite3.node
node_modules/sqlite3/src/async.h
node_modules/sqlite3/src/backup.cc
node_modules/sqlite3/src/backup.h
node_modules/sqlite3/src/database.cc
node_modules/sqlite3/src/database.h
node_modules/sqlite3/src/gcc-preinclude.h
node_modules/sqlite3/src/macros.h
node_modules/sqlite3/src/node_sqlite3.cc
node_modules/sqlite3/src/statement.cc
node_modules/sqlite3/src/statement.h
node_modules/sqlite3/src/threading.h
package-lock.json
node_modules/.package-lock.json
node_modules/sqlite3/lib/binding/napi-v6-darwin-unknown-arm64/node_sqlite3.node
*.node
